body, html{width: 100%; height: 100%; margin: 0; padding: 0;}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
#top-row{position: relative;}
#me{
  display: block;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 600px;
  border: solid 1px red;
  position: relative;
}
section > div{border: solid 0px slategray;}
section > div > div{border: solid 0px slategray;}
#photo{
  margin-left: auto;
  width: 8em;
  height: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#img{
  position: absolute;
  bottom: 1em;
  left: -.5em;
  width: 8em;
  height: 8em;
  transform: rotate(-45deg);
  overflow: hidden;
}
#img::before{
  content: '';
  position: absolute;
  top: -3em;
  left: -3em;
  display: block;
  width: 14em;
  height: 14em;
  transform: rotate(45deg);
  background-image: url("/img/me.png");
  background-size: contain;
	z-index: 3;
	opacity: .8;
}
#lang{
  margin-top: 7em;
  margin-right: 1em;
  display: flex;
  width: 5em;
  hegiht: 5em;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#lang .bg{
  display: block;
  width: 5em;
  height: 5em;
  background-color: #efefef;
  position: absolute;
  transform-origin: center;
  transform: rotate(-45deg);
  z-index: -10;
}
#desc{
  position: absolute;
  bottom: -2.6em;
  left: 3.2em;
  display: block;
  width: 5em;
  height: 5em;
}
#desc > div{
  text-align: end;
  position: absolute;
  width: max-content;
  right: 0;
  transform-origin: top right;
  transform: rotate(-45deg);
}

#main{
  dislplay: block;
  width: 350px;
  height: 350px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#main .bg{
  display: block;
  width: 70%;
  height: 70%;
  background-color: #efefef;
  position: absolute;
  transform-origin: center;
  transform: rotate(-45deg);
  z-index: -10;
  overflow: hidden;
}
#main .bg::before{
  content: '';
  position: absolute;
  top: -3em;
  left: -4em;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
  background-size: contain;
	z-index: 3;
	opacity: .8;
}
#main .bg.b1::before{
	background-image: url("/img/bg-1.jpg");
}
#main .bg.b2::before{
	background-image: url("/img/bg-2.jpg");
}
#main .bg.b3::before{
	background-image: url("/img/bg-3.jpg");
}
#main .bg.b4::before{
	background-image: url("/img/bg-4.jpg");
}
#main .bg.b5::before{
	background-image: url("/img/bg-5.jpg");
}
#main.projects .bg::before{
  content: none;
}
#main-toggle{
  bottom: 1em;
  right: 1em;
  position: absolute;
  padding: 20px 0 0 20px;
}
#main-toggle::before{
  content: '';
  z-index: -4;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 6.5em solid #e5ecf6;
  border-left: 6.5em solid transparent;
}
#main-toggle a{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
