main {
	--black: #000;
	--dark: #0c1821;
	--light: #f4eef1;
	--primary: #1b2a41;
	--secundary: #324a5f;
}

main {
	--backgroundColor: white;
	--accentBackgroundColor: var(--light);
	--accentTextColor: var(--primary);
}