<div id="areas-of-interest" class="section">
	<h3>Areas of his interest</h3>
	<div class="flex one two-1000">
		{% for interest in site.data.cv.areas_of_interest %}
		<div class="interest">
			<span class="name">
				<h4>{{ interest.name }}</h4>
			</span>
			<span class="desc">{{ interest.desc }}</span>
			<div class="achivements flex two-600 one-1000">
				{% for done in interest.done %}
				<label>
					<input type="checkbox" checked>
					<span disabled class="checkable">{{ done }}</span>
				</label>
				{% endfor %}
				{% for todo in interest.todo %}
				<label class="todo">
					<input disabled type="checkbox">
					<span class="checkable">{{ todo }}</span>
				</label>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>