<div id="areas-of-interest" class="section">
	<h3>Areas of his interest</h3>
	<div class="flex one two-1000">
		<div class="interest">
			<span class="name">
				<h4>Data Visualization</h4>
			</span>
			<span class="description"></span>
			<div class="achivements flex two-600 one-1000">
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label class="todo">
					<input type="checkbox">
					<span class="checkable">Has done ...</span>
				</label>
			</div>
		</div>
		<div class="interest">
			<span class="name">
				<h4>Web Development</h4>
			</span>
			<span class="description"></span>
			<div class="achivements flex two-600 one-1000">
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label class="todo">
					<input type="checkbox">
					<span class="checkable">Has done ...</span>
				</label>
			</div>
		</div>
		<div class="interest">
			<span class="name">
				<h4>Software Architecture</h4>
			</span>
			<span class="description"></span>
			<div class="achivements flex two-600 one-1000">
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label class="todo">
					<input type="checkbox">
					<span class="checkable">Has done ...</span>
				</label>
			</div>
		</div>
		<div class="interest">
			<span class="name">
				<h4>Graphic Design</h4>
			</span>
			<span class="description"></span>
			<div class="achivements flex two-600 one-1000">
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label>
					<input type="checkbox" checked>
					<span class="checkable">Has done ...</span>
				</label>
				<label class="todo">
					<input type="checkbox">
					<span class="checkable">Has done ...</span>
				</label>
			</div>
		</div>
	</div>
</div>