<div id="bio" class="flex one two-1000">
	<div id="photo" class="noPad">
		<img class="myImg" src="{{ "/img/me.png" | relative_url }}">
	</div>
	<div class="flex two noPad">
		<span id="name" class="full">
			<h2 class="dInlineBlock noPad">{{ site.data.cv.name }}</h2>
			<h3 class="dInlineBlock noPad">{{ site.data.cv.surname }}</h3>
		</span>
		<span class="full">
			<h4 class="dInlineBlock noPad">{{ site.data.cv.status }}</h4>
		</span>
		<span class="full" id="contact">
			Github : <a href="{{ site.data.cv.github_page }}">{{ site.data.cv.github_user }}</a> 
			Email : <a href="mailto:{{ site.data.cv.email }}">{{ site.data.cv.email }}</a>
		</span>
		<span class="full">
			<p>
				{{ site.data.cv.catch_phrase }}
			</p>
		</span>
	</div>
</div>