<div id="bio" class="flex one two-1000">
	<div id="photo" class="noPad">
		<img class="myImg" src="{{ "/img/me.png" | relative_url }}">
	</div>
	<div class="flex two noPad">
		<span id="name" class="full">
			<h2 class="dInlineBlock noPad">Alejandro</h2>
			<h3 class="dInlineBlock noPad">Rodríguez Díaz</h3>
		</span>
		<span class="full">
			<h4 class="dInlineBlock noPad">Computer Engineer Graduate</h4>
		</span>
		<span class="full">
			jancho@usal.es
		</span>
		<span class="full">
			<p>
				Software development and graphic design enthusiast.
			</p>
		</span>
	</div>
</div>