<div id="others" class="section">
	<h3>Other things I have done</h3>
	<hr class="sectionDivider"/>
	<div class="flex one">
		<div class="education flex one five-600">
			<span class="date">
				March 16th, 2018
			</span>
			<div class="four-fifth">
				<h4 class="noPad">GeekUSAL 1st Edition </h4>
				<h5><a href="https://sites.google.com/usal.es/geekusal">https://sites.google.com/usal.es/geekusal</a></h5>
				<span class="desc">
					I was
				</span>
			</div>
		</div>
		<div class="education flex one five-600">
			<span class="date">
				October 3-7th, 2018
			</span>
			<div class="four-fifth">
				<h4 class="noPad">XLIX Meeting of RITSI (Reunión de estudiantes de Ingenierías Técnicas y Superiores en Informática)</h4>
				<h5><a href="https://asambleas.ritsi.org/xlix/">https://asambleas.ritsi.org/xlix/</a></h5>
				<span class="desc">
					I was
				</span>
			</div>
		</div>
		<div class="education flex one five-600">
			<span class="date">
				March 21st, 2019
			</span>
			<div class="four-fifth">
				<h4 class="noPad">GeekUSAL 2nd Edition</h4>
				<h5><a href="https://sites.google.com/usal.es/geekusal">https://sites.google.com/usal.es/geekusal</a></h5>
				<span class="desc">
					I was
				</span>
			</div>
		</div>
		<div class="education flex one five-600">
			<span class="date">
				May 9th, 2019
			</span>
			<div class="four-fifth">
				<h4 class="noPad">PyData Salamanca "Data Pipelines with Luigi (not Mario)"</h4>
				<h5><a href="https://www.meetup.com/PyData-Salamanca/events/260540624/">https://www.meetup.com/PyData-Salamanca/events/260540624/</a></h5>
				<span class="desc">
					I was
				</span>
			</div>
		</div>
		<div class="education flex one five-600">
			<span class="date">
				November, 2019
			</span>
			<div class="four-fifth">
				<h4 class="noPad">2nd Place in the Hackathon "La España Vacía" organized by HP SCDS</h4>
				<h5><a href="https://www.leon7dias.com/2019/11/13/hp-pone-en-marcha-su-hackathon-para-llenar-de-innovacion-y-tecnologia-la-espana-vacia/">
				See an article on the event
				</a></h5>
				<span class="desc">
					I was
				</span>
			</div>
		</div>
	</div>
</div>
